[submodule "themes/hugo-apero"]
	path = themes/hugo-apero
	url = git@github.com:hugo-apero/hugo-apero.git
[submodule "submodules/dots_blogdown"]
	path = submodules/dots_blogdown
	url = git@github.com:mikedecr/dots_blogdown
[submodule "submodules/imgs_self"]
	path = submodules/imgs_self
	url = git@github.com:mikedecr/imgs_self


[submodule "content/blog/post_submodule"]
	path = content/blog/post_submodule
	url = git@github.com:mikedecr/post_post-submodule.git
[submodule "content/blog/blogdown_submodules"]
	path = content/blog/blogdown_submodules
	url = git@github.com:mikedecr/post_blogdown-submodules.git
[submodule "content/blog/usable_repos"]
	path = content/blog/usable_repos
	url = git@github.com:mikedecr/usable-repos.git
