# safe ignores
.DS_Store
Thumbs.db
/public/
/resources/
blogdown/md5sum.txt

content/blogdown/md5sum.txt
content/collection/*
content/project/*
content/talk/*
content/form/*
content/elements/*

# this serves as a parking place for WIP blogs and stuff
# (which is itself a bad practice & should be migrated)
/detritus/
